html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

.bgImage {
    background-image: url(/img/GridBG\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image main {
    backdrop-filter: brightness(0.6);
}

.titleText {
font-family: 'Londrina Outline', sans-serif;
text-transform: uppercase;
color: rgb(195, 255, 0);
font-weight: 800;
}

.minHeight {
    min-height: 85vh;
}